body {
  padding: 0;
  border: 0;
  margin: 0;
}

.grid { background: url(/img/test-bg.png); width: 2000px; height: 1000px;}

.gridSquare {
  width: 10px; height: 10px;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
}

